<template>
  <div class="hello">
    <div>Your Code Here</div>
    <table>
      <tr>
        <th>Número</th>
        <th>Coincidencias</th>
      </tr>
      <tr v-for="(value, index) in result" v-bind:key="index">
        <td>
          {{ index }}
        </td>
        <td>
          {{ value }}
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      result: [],
    };
  },
  methods: {
    reverse_index(base, n) {
      return (base - n) % (base + 1);
    },
  },
  created() {
    fetch('http://localhost:5000/random_numbers', {
      method: 'GET',
    })
      .then((response) => {
        if (response.ok) {
          return response.json();
        }
        return false;
      })
      .then((json) => {
        const { data } = json;
        const orderedData = [];
        Object.values(data).forEach((element) => {
          if (this.reverse_index(100, element) in orderedData) {
            orderedData[this.reverse_index(100, element)] += 1;
          } else {
            orderedData[this.reverse_index(100, element)] = 1;
          }
        });
        this.result = orderedData;
      })
      .catch((err) => {
        console.log(err);
      });
  },
};
</script>

<style scoped>

</style>
